<body>
    <app-lineheaders woord="OVER ONS"  [first]="true"></app-lineheaders>

    <div class="container">
        <div class="displayLogo">
            <img src="../../assets/images/About_G-Labs.png">
        </div>

        <app-lineheaders id="header" woord="Hoofdredacteur"></app-lineheaders>
        <div class="panel">
            <div class="profile" id="left">
                <div class="name"><h1>Bart Van Weyenberghe</h1></div>
                <div class="hero">
                    <img src="../../assets/images/Bart.jpg">
                    <div class="quote">
                        <p>Een Dag Niet Gegamed, Is een dag niet geleefd!</p>
                    </div>
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, quisquam quidem! Nesciunt id doloribus tempora reprehenderit. Maxime sint quis minima dicta aperiam perferendis! Dolore at, ipsa quia alias natus dolorum, porro minima aperiam maxime tenetur tempore consectetur est saepe voluptatibus in molestias distinctio odit vitae?</p>
                </div>
            </div>
        </div>

        <app-lineheaders id="header" woord="Vaste Schrijvers"></app-lineheaders>

        <div class="panel">
            <div class="profile" id="right">
                <div class="name"><h1>Kristof Lettens</h1></div>
                <div class="hero">
                    <img src="../../assets/images/Kristof.jpg">
                    <div class="quote">
                        <p>I'm not a player. I'm a Gamer.</p>
                    </div>
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, quisquam quidem! Nesciunt id doloribus tempora reprehenderit. Maxime sint quis minima dicta aperiam perferendis! Dolore at, ipsa quia alias natus dolorum, porro minima aperiam maxime tenetur tempore consectetur est saepe voluptatibus in molestias distinctio odit vitae?</p>
                </div>
            </div>

            <div class="profile" id="left">
                <div class="name"><h1>Jan Jacob Schalckens</h1></div>
                <div class="hero">
                    <img src="../../assets/images/JanJacob.jpg">
                    <div class="quote">
                        <p>Games don't make you violent, lag does!</p>
                    </div>
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, quisquam quidem! Nesciunt id doloribus tempora reprehenderit. Maxime sint quis minima dicta aperiam perferendis! Dolore at, ipsa quia alias natus dolorum, porro minima aperiam maxime tenetur tempore consectetur est saepe voluptatibus in molestias distinctio odit vitae?</p>
                </div>
            </div>
        </div>

        <app-lineheaders id="header" woord="Freelance Schrijvers"></app-lineheaders>
        <div class="panel">
            <div class="profile" id="right">
                <div class="name"><h1>Gael Louage</h1></div>
                <div class="hero">
                    <img src="../../assets/images/Gael.jpg">
                    <div class="quote">
                        <p>I'm the hero of a thousand stories.</p>
                    </div>
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, quisquam quidem! Nesciunt id doloribus tempora reprehenderit. Maxime sint quis minima dicta aperiam perferendis! Dolore at, ipsa quia alias natus dolorum, porro minima aperiam maxime tenetur tempore consectetur est saepe voluptatibus in molestias distinctio odit vitae?</p>
                </div>
            </div>

            <div class="profile" id="left">
                <div class="name"><h1>Steven Rombaut</h1></div>
                <div class="hero">
                    <img src="../../assets/images/Steven.jpg">
                    <div class="quote">
                        <p>Home is where you are 'Player1'.</p>
                    </div>
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, quisquam quidem! Nesciunt id doloribus tempora reprehenderit. Maxime sint quis minima dicta aperiam perferendis! Dolore at, ipsa quia alias natus dolorum, porro minima aperiam maxime tenetur tempore consectetur est saepe voluptatibus in molestias distinctio odit vitae?</p>
                </div>
            </div>
        </div>
    </div>
</body>