
<app-lineheaders woord="Videos"></app-lineheaders>
<div class="top-video">
    <div class="container-videos-4">
        <div>
            <iframe src="https://www.youtube.com/embed/kThTXog88Ck" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen> </iframe>
        </div>
    
        <div>
            <iframe src="https://www.youtube.com/embed/twh8rAeOVmg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    
        <div>
            <iframe src="https://www.youtube.com/embed/v0sdP0Y6Hks" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        
        <div>
            <iframe src="https://www.youtube.com/embed/gOOOskVABiM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
