h2 {
    margin-top: 2em;
    font-size: 25px;
    color: red;
    text-align: center;
}
.top-video {
    width: 100%;
    margin: 2em 0;
    background-color: rgb(238, 238, 238);
}
.container-videos-4 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 80%;
    grid-gap: 5em;
    padding: 25px;
    margin: 0 auto;
    justify-content: center;
}
iframe {
    width: 100%;
   
    border-radius: 1em;
}

@media screen and(min-width: 1600px) {
    iframe {
        height: 20em;
    }
}

@media screen and(max-width: 900px)  {
    
    .container-videos-4 {
        grid-template-columns: repeat(2,1fr);
       
    }
    iframe {
        width: 100%;
        border-radius: 1em;
    }
    
}