<div class="main-container-partners">
    <div class="container-3-partners">
        <a href="https://www.twitch.tv/" target="_blank"><img src="https://cdn-icons-png.flaticon.com/128/5968/5968819.png" alt="Twitch"></a>
            <a href="https://www.youtube.com/" target="_blank"><img src="https://cdn-icons-png.flaticon.com/128/174/174883.png" alt="Youtube"></a>
           <a href="https://twitter.com/?lang=nl" target="_blank"><img src="https://cdn-icons-png.flaticon.com/128/145/145812.png" alt="Twitter"></a>
           <a href="https://www.nintendo.be/nl/" target="_blank"><img src="https://cdn-icons-png.flaticon.com/128/588/588330.png" alt="Nintendo"></a>
            <a href="https://www.playstation.com/nl-be/?emcid=pa-co-422179&gclid=EAIaIQobChMI393QwrmG9gIV0nRvBB2U5wMTEAAYASAAEgKEsvD_BwE&gclsrc=aw.ds" target="_blank"><img src="https://cdn-icons-png.flaticon.com/128/588/588258.png" alt="Playstation"></a>
           <a href="https://www.xbox.com/nl-BE" target="_blank"><img src="https://cdn-icons-png.flaticon.com/128/732/732260.png"  alt="Xbox"></a>
           <a href="https://www.nvidia.com/en-us/" target="_blank"><img src="https://cdn-icons-png.flaticon.com/128/882/882731.png" alt="nvidia"></a>
           <a href="https://www.amd.com/en" target="_blank"><img src="https://cdn-icons-png.flaticon.com/128/732/732178.png" alt="amd"></a>
    </div>
</div>
<!-- gebruik social scroller -->
<app-rounded-social (btnScrollLeft)="scrollSocial()" (btnScrollRight)="scrollSocialRight()" (btnScrollCenter)="scrollSocialMiddel()" ></app-rounded-social>