<app-lineheaders woord="Onze Blogposts" [first]="true"></app-lineheaders>
<div class="container-2-grid">
    <div>
        <a href="blogOne"> <img class="img-1-main" src="https://i.kinja-img.com/gawker-media/image/upload/c_fit,f_auto,g_center,pg_1,q_60,w_965/42048614bc4b4f3745fba932c38aeb01.jpg" alt="Ark image"></a>
       
        <p class="top-info">NIEUWS</p>
        <h2><a href="blogOne">Lost Ark vestigt nieuw gelijktijdig spelersrecord op Steam, met meer dan 1,3 miljoen online [Update]</a></h2>
         <p>De ARPG van Smilegate en Amazon heeft meer dan 1 miljoen spelers op Steam, minder dan 48 uur na de lancering</p>
    </div>
    <div class="container-4-grid">
        <div>
            <a href="gameTips"> <img class="img-2-main" src="https://i.kinja-img.com/gawker-media/image/upload/c_fill,f_auto,g_center,h_275,pg_1,q_60,w_490/ae6f395383577d2a9ee1c5159ca3fa09.jpg" alt="Ark image players"></a>
            <p class="top-info">POKEMON</p>
            <h2><a href="gameTips">Legends: Arceus-spelers smeken om betere manieren om hun Pokémon te organiseren</a></h2>
            <hr>
        </div>
     
        <div>
            <a href="impressies">  <img class="img-2-main" src="https://i.kinja-img.com/gawker-media/image/upload/c_fit,f_auto,g_center,pg_1,q_60,w_965/2dc7f85178b9841378fd07511a1c467a.jpg" alt="HORIZON Zero Dawn"></a>
            <p class="top-info">IMPRESSIES</p>
            <h2><a href="impressies">Goed nieuws, Horizon Forbidden West speelt prima en ziet er nog steeds prachtig uit op de basis PS4</a></h2>
            <hr>
        </div>
        <div>
            <a href="Japan"> <img class="img-2-main" src="https://i.kinja-img.com/gawker-media/image/upload/c_fit,f_auto,g_center,pg_1,q_60,w_965/ee068550da66c1cca1b2b6628d5d560a.jpg" alt="HIDEO KOJIMA"></a>
            <p class="top-info">JAPAN</p>
            <h2><a href="Japan">
                Hideaki Anno maakt zijn versie van het Marvel-universum, maar met Kaiju, Heroes en Robots</a></h2>
        </div>
        <div>
            <a href="nieuws"> <img class="img-2-main" src="https://images3.alphacoders.com/843/843016.jpg" alt="GOD OF WAR"></a>
            <p class="top-info">NIEUWS</p>
            <h2><a href="nieuws">God of War pc-mod maakt Atreus speelbaar, nogal</a></h2>
        </div>
    </div>
</div>
<app-bottom-blog></app-bottom-blog>
<app-partners></app-partners>
