<div id="primary-colorBG" class="footer">
    <div class="container">

        <div id="copyright">
            <p>G-Labs Blogs Copyright &#169; 2022.</p>
        </div>
    
        <div id="links">
            <ul>
                <li><a routerLink="contact">Contact</a></li>
                <li><a href="https://advertising.amazon.com/" target="_blank">Adverentise</a></li>
                <li><a href="https://join.skillshare.com/creative-writing/" target="_blank">Become a writer</a></li>
                <li><a href="https://www.privacypolicies.com/" target="_blank">Privacy Policy</a></li>
                <li><a href="https://www.copyright.gov/dmca/" target="_blank">DMCA & Copyright Policy</a></li>
                <li><a href="https://www.legalnature.com/guides/why-your-website-needs-a-strong-terms-of-use-agreement-and-what-to-include" target="_blank">Terms Of Use</a></li>
                <li><a href="https://www.gamegear.be/" target="_blank">Game Gear</a></li>
            </ul>
        </div>

        <div id="disclaimer">
            <p>Disclaimer: G-Labs Blogs is a participant in the Obelisk Associates Program, an affiliate program designed to provide a means for sites to earn recognition by implementing skills learned at Multimedi.</p>
            <p>Read more <a routerLink="about">About Us</a></p>
        </div>

    </div>
</div>
